{% extends 'template.html.twig' %}{# empty Twig template #}
{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="column-wrapper">
    <h1 class="logo signup darkgreen">Connexion</h1>
    
    <form class="column-wrapper" method="post" action={{ path('login') }}>
        <div>
            <label for='_username' class="legend">Nom d'utilisateur ou email :</label>
            <input type="text" name="_username" required/>
        </div>
        <div>
            <label for='_password' class="legend">Mot de passe :</label>
            <input type="password" name="_password" required />
        </div>
        <button class="inputfont" type="submit">Se connecter!</button>
    </form>
</div>
{% endblock %}