html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%; 
}
.fontAwesome {
    font-family: 'FontAwesome';
}
.inputfont {
    font-family: 'Raleway';
    font-weight: bold;
}
#page-mask {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.dialog {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    z-index: 1001;
}
.ui-front {
    z-index: 1001 !important;
}
header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #6ED023;
    box-shadow: 0 0 10px #6ED023;
    padding: 0.25em 0;
    z-index: 999;
}
div.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#sticky-wrapper {
}
.logoinline{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.logosite {
    width: auto;
}
.coollinks {
    text-decoration: none;
    padding: 1em;
    color: #6ED023;
    transition: 0.33s all ease-out;
}
.redirect {
    font-weight: bolder;
}
.coollinks:nth-child(odd):hover {
    background-color: #6ED023;
    color: white;
}
.coollinks:nth-child(even) {
    color : #44A33D;
}
.coollinks:nth-child(even):hover {
    background-color : #44A33D;
    color:white;
}
div.main-container {
    flex: 1;
    width: 80%;
    margin: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.search-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 0.5em;
    border-style: none;    
    border: 1px solid #6ED023;
    transition: 0.33s all ease-out;
}
input:focus {
    box-shadow: 0 0 5px #44A33D;
}
input[name=search] {
    flex: 1;
    margin-right: 0.5em;
}
.darkgreen {
    color: #44A33D;
}
.lightgreen {
    color: #6ED023;
}
.title-container {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #44A33D;
}
.subtmit-container {
    width: 100%;
    margin: auto;
    border-top: 2px solid #44A33D;
}
.formsearch {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#searchyeah {
    cursor: pointer;
    background-color: #FFFFFF;
}
#searchyeah:hover {
    background-color: #44A33D;
    color: #ffffff;
}
/*Signin page*/
.column-wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.newadvertform {
    width: 75%;
}
form.column-wrapper {
    width: 100%;
    margin-top: 1em;
    align-items: stretch;
}
form.column-wrapper div:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
form.column-wrapper div:not(:last-of-type) {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
form.column-wrapper div:last-of-type {
    margin-top: 2em;
}
form.column-wrapper label {
    margin-bottom: 0.25em;
}
form.column-wrapper button {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 2em;
    padding: 1.5em;
    background-color: #44A33D;
    transition: 0.33s all ease-out;
    color: #FFFFFF;
    border: 1px solid #44A33D;
    width: 100%;
}
form.column-wrapper button:hover {
    background-color: #6ED023;
}
select {
    margin-bottom: 1em;
}
span.tip {
    margin-top: 2em;
}

/* JQUERY UI */
#etablishments-button, #user_region-button, #appbundle_carpooling_type-button {
    padding: 0.5em 0;
    width: 100%;
    border-radius: 0;
    font-size: 1em;
}
.ui-selectmenu-icon {
   margin-right: 0.5em;
}
.ui-selectmenu-text {
    margin-left: 0.5em;
}
div.ui-tooltip {
    font-size: 75%;
}

/* CENTER LIST */
.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.etablishment-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25em;
}
.sumup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fixmyproblems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.etablishment-container:not(:last-of-type) {
    border-bottom: 1px solid #44A33D;
}
.etablishment-container:not(:first-of-type) {
    margin-top: 1em;
}
.etinfos-container, .coordonate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1em;
}
.etinfos-container {
    max-width: 75%
}
.coordonate {
    max-width: 50%;
}
.redirect-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.margin-right {
    margin-right: 1em;
}
.margin-top {
    margin-top: 2em;
}
h2 {
    margin: 0.25em 0 0.5em 0;
    padding: 0;
}
.etablishment-container p {
    margin: 0;
}
.etablishment-container p:last-of-type {
    margin-bottom: 0.5em;
}
.etablishment-container a, .etablishment-container button {
    text-decoration: none;
    background-color: #FFFFFF;
}

.research {
    margin: auto;
}
.resultat {
    width: 100%;
    margin-bottom: 2em;
}
/*

ojscjkblazs=x;
*/

.newcarpooling {
    text-decoration: none;
    text-align: center;
    padding: 1em;
    background-color: #44A33D;
    transition: 0.33s all ease-out;
    color: #FFFFFF;
    border: 1px solid #44A33D;
    margin-top: 2em;
}
.newcarpooling:hover{
    background-color: #6ED023;
}
.importanto {
    font-size: 125%;
}
.choice-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    margin-bottom: 2em;
}
button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.33s ease-out;
}
.offres {
    flex: 1;
    background-color: #6ED023;
    padding: 1em;
}
.demandes {
    flex: 1;
    background-color: #44A33D;
    padding: 1em;
}
.dialog ul, .dialog li {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin: 0.25em 0;
    padding: 0;
}
.userinfo {
    display: flex;
    flex-direction: column;
}
.coordonate {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.coordonate p {
    margin: 0.25em;
}
.hidden {
    display: none;
}
.alignselft {
    align-self: center;
}
/* PROFILE */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
}
.thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 1em;
}
.thumbnail-container h2 {
    margin-bottom: 0.125em;
}
.thumbnail-container a {
    padding: 0.25em;
}
.username-container {
    color: #44A33D;
    text-align: center;
    
}
.mainInfos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thumbnail-user {
    border: 1px solid #6ED023;
    width: 128px;
}
.labelInput-container {
    padding: 0.125em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
labelInput-container label {
}
.labelInput-container:not(:last-child) {
    margin: 0.125em;
    border-bottom: 1px solid #6ED023;
}
:disabled {
    border-style: none;
    background-color: #FFFFFF;
}

.inactive {
    padding: 0;
    margin-left: 0.5em;
}
#editprofile {
    padding: 0.25em;
    font-size: 100%;
    background-color: #FFFFFF;
    margin-left: 0.125em;
    transition: 0.33s all ease-out;
}
#editprofile:hover {
    background-color : #44A33D;
    color: white;
}
a.redirect:hover {
    color: #6ED023;
}
.ask-container {
    display: none;
}
.keeplogged {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}
.css-label{ 
    background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);
}
footer {
    margin: auto;
}
footer span {
    font-size: 75%;
    color: #44A33D;
}
.newadvert {
    box-sizing: border-box;
    margin-top: 2em;    
    width: 100%;
    padding: 1em;
    background-color: #6ED023;
    transition: 0.33s all ease-out;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.newadvert:hover {
    background-color: #44A33D;

}
textarea {
    resize: vertical;
    overflow: auto;
    border: 1px solid #6ED023;
    padding: 0.25em;
}
.slider-advert {
    padding: 0.5em;
}
.slider-advert-header {
    padding: 0.5em;
    width: 100%;
    background-color: #6ED023;
    color: #FFFFFF;
}
.slider-advert-container a {
    text-decoration: none;
    color: inherit;
}
.blabla {
    margin-bottom: 2em;
}
#map {
    height: 480px;
    width: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}
.loginsignupindex {
    margin: 2em auto 2em auto;
}
.indexlinks {
    text-decoration: none;
    padding: 0.5em;
    color: #FFFFFF;
}
.bg-dark {
    background-color: #44A33D;
}
.bg-light {
    background-color: #6ED023;
}